@page
@model EventsProject.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}

<h3 class="text-light">Events</h3>

<div class="container">

    @foreach (var item in Model.Event)
    {


<div class="card">
            <div class="card-header">
                <div class="accordion-container">                   
                       <a asp-page="./JoinEvent" asp-route-id="@item.Id"><input class="btn btn-outline-primary btn-sm join-btn" type="button" value="Join"></a>
                    <h5 class="accordion-toggle">
                        <button class="btn btn-link ">
                            @Html.DisplayFor(modelItem => item.Title)
                        </button>
                    </h5>
                    <div class="accordion-content collapse">
                        <div class="card-body">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
