@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using EventsProject.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<EventsUser> SignInManager
@inject UserManager<EventsUser> UserManager


<div class="text-center">
    <h1 class="display-4 text-light">Welcome</h1>
    <h3 class="text-light">Our latest EVENTS is ready now!</h3>
    <p class="text-light">
        Anyone can join in our Events. <br />
        Just register to our website and fill up a rigsiter <br />
        form for membership. 1 year membership is totally <br />
        free for everyone. So, no get late, Hurry up and <br />
        join to our Events.
    </p>
    @if (SignInManager.IsSignedIn(User))
    {

        <div>
            <a asp-page="/Events"><input type="button" class="butn" value="Find A New Event"></a>
        </div>
    }
    else
    {
        <div>
            <a id="register" asp-page="/Account/Register"><input class="butn" type="button" value="Register"></a>
            <a id="login" asp-page="/Account/Login"><input class="butn" type="button" value="Log In"></a>
        </div>
    }


</div>

