/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.root {
    background-position: center;
    background-size: cover;
    height: 900px;
    background-image: url(../img/background.jpg);
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 12px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #0099ff;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    font-size: 1.5em;
    color: #ffffff;
    
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

    

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #0099ff;
}


.pb-3 {
    margin-top: 75px;
}

.text-center .butn {
    margin: 10px;
    height: 40px;
    width: 170px;
    padding: 5px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #0099ff, #00cc99 );
    text-shadow: 0px 1px 2px #000000;
}

    .text-center .butn:hover {
        color: #ffffff;
        cursor: pointer;
        letter-spacing: 1px;
        text-shadow: 0px 1px 2px #000000;
        transition: transform .3s;
        transform: scale(1.2);
    }

    .text-center .butn:active {
        outline: none;
        border: 1px solid #0099ff;
    }

    .text-center .butn:focus {
        outline: 0;
    }


.card-header .join-btn {
    float: right;
}

.card-header .btn-link:hover {
    text-decoration: none
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: #fff;
}
